<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="../static/faviconTwo.ico" type="image/x-icon">
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- <link rel="stylesheet" href="./css/w95.css"> -->
        <link rel="stylesheet" href="../static/styles/base.css">

        <script src="/js/bundle.js"></script>
    </head>
    <body>
        <div class="d-flex flex-column parent-container">
            <main class="flex-grow-1">
                <div class="container">
                    <form class="text-center mt-5" id="register-form">
                        <label for="register-email">Email:</label><br>
                        <input type="email" id="register-email" name="email"><br>
                        <label for="register-password">Password:</label><br>
                        <input type="password" id="register-password" name="password">
                        <div class="mt-4">
                            <button id="hardware-add-button" type="button" class="btn btn-primary ml-2 mb-2 mr-1">Register</button>
                        </div>
                    </form>
                </div>
            </main>
        <script>
            feather.replace()
        </script>
    </body>
</html>